:host ::ng-deep .owl-dots .owl-dot span {
  width: 10px;
  height: 7px;
  border-radius: 50%;
  background: #0eae8356 !important;
}
:host ::ng-deep .owl-dots .owl-dot.active span {
  background: #064e3b !important;
  transform: scale(1.2);
}
